<h1>About</h1>
<p>I am a programmer with 1 year of Python experience and 2 months of Ruby experience.</p>


<h2>Education Background</h2>
<ul>
  <li>University of Memphis - Junior</li>
</ul>

<h2>Skills</h2>
<ul>
  <li>Python - 1 year</li>
  <li>Ruby - 2 months</li>
</ul>

<h2>Achievements</h2>
<ul>
  <li>Made it on the Dean's List during my Freshman year.</li>
</ul>