<h1>My Developer Portfolio</h1>
<p>This is my developer portfolio. Throughout my portfolio, I will list various
    expertise I have in the CS field.
</p>

<%= render 'about/index' %>

<%= render 'work/index' %>

<%= render 'contact/index' %>