<h1>Contacts</h1>
<p>I can be contacted through email, phone, or social media</p>

<h2>Email & Phone</h2>
<ul>
    <ul>Email: email@website.com</ul>
    <ul>Phone: 123-456-7890</ul>
</ul>
<h2>Social Media</h2>
<ul>
    <ul>Twitter: @twitter</ul>
    <ul>Instagram: @instagram</ul>
</ul>