<div class="project">
  <h2>Project: SA16-Act2</h2>
  <p>For this project, I used Ruby On Rails to make a portfolio website</p>
  <%= image_tag("act2.png", alt: "SA16-Act2") %>
</div>

<div class="project">
  <h2>Project 2: SA16-Act3</h2>
  <p>For this project, I used Django to make a portfolio website</p>
  <%= image_tag("act3.png", alt: "SA16-Act3") %>
</div>